.add-files{
  margin-bottom: 3em;
}

mat-form-field {
  width: 100%;
}

.test-basic-details{
  margin-bottom: 2em;
}

.scrollable-content{
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}