<div class="custom-row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2> Test details {{currentTest.name}} </h2>
            </div>
            <div class="card-body">

                <div style="margin-bottom: 20px;">
                    <button class="btn btn-info" (click)="returnToTestsList()"><i class="fa fa-backward"></i> Tests list
                    </button>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="row d-none">
                            <b>Test ID:</b> {{currentTest.id}}
                        </div>
                        <div class="row">
                            <b>Name:</b> {{currentTest.name}}
                        </div>
                        <div class="row">
                            <b>Description:</b> {{currentTest.description}}
                        </div>
                        <div class="row">
                            <b>Update date:</b> {{currentTest.updateDate | date:'yyyy-MM-dd hh:mm:ss'}}
                        </div>
                        <div class="row">
                            <b>Test creator:</b> {{currentTest.owner.username}}
                        </div>
                        <div class="row">
                            <b>Test status:</b> {{currentTest.status}}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            Files related to test:
                        </div>
                        <div *ngFor="let doc of currentTest.documents" class="row">
                            <a href="{{doc.data}}"
                               download="{{doc.filename}}">{{doc.filename}}</a>
                        </div>
                        <mat-form-field>
                            <ngx-mat-file-input
                                    [accept]="[
                      '.doc',
                      '.docx',
                      '.jpg',
                      '.jpeg',
                      '.pdf',
                      '.png',
                      '.xls',
                      '.xlsx'
                    ]"
                                    (change)="uploadFile($event)"
                                    multiple
                                    aria-label="Here you can add additional files about your project, which can be helpeful for us."
                                    placeholder="Additional files"
                                    title="Additional files"
                                    type="file"
                            >
                            </ngx-mat-file-input>
                            <mat-icon matSuffix>folder</mat-icon>
                            <mat-hint
                            >Accepted formats: DOC, DOCX, JPG, JPEG, PDF, PNG, XLS and XLSX,
                                maximum files upload size: 20 MB.
                            </mat-hint>
                            <!--
                              Non-null assertion operators are required to let know the compiler that this value is not empty and exists.
                            -->
                        </mat-form-field>
                        <button type="button" class="btn btn-success" (click)="saveUploadedFiles()">Save uploaded files</button>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th colspan="1">User Action</th>
                        <th colspan="1">System Reaction</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let spec of currentTest.specifications">
                        <td colspan="1">{{spec.userAction}}</td>
                        <td colspan="1">{{spec.systemReaction}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
