<div class="custom-row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2> Home </h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            Main page
          </div>
          <div class="col-md-2">
            <button class="btn btn-danger" *ngIf="adminLogged" routerLink="/admin" routerLinkActive="active"><i class="fa fa-cogs"></i> Admin Console</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
